<label for="title">
	<f:translate key="tx_file_domain_model_file.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="title" /><br />
<label for="fileName">
	<f:translate key="tx_file_domain_model_file.file_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="fileName" /><br />
<label for="filePath">
	<f:translate key="tx_file_domain_model_file.file_path" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="filePath" /><br />
<label for="fileDownloadName">
	<f:translate key="tx_file_domain_model_file.file_download_name" />
</label><br />
	<f:form.textbox property="fileDownloadName" /><br />
<label for="fileType">
	<f:translate key="tx_file_domain_model_file.file_type" />
</label><br />
	<f:form.textbox property="fileType" /><br />
<label for="fileTypeVersion">
	<f:translate key="tx_file_domain_model_file.file_type_version" />
</label><br />
	<f:form.textbox property="fileTypeVersion" /><br />
<label for="fileSize">
	<f:translate key="tx_file_domain_model_file.file_size" />
</label><br />
	<f:form.textbox property="fileSize" /><br />
<label for="fileOriginalLocation">
	<f:translate key="tx_file_domain_model_file.file_original_location" />
</label><br />
	<f:form.textbox property="fileOriginalLocation" /><br />
<label for="fileOriginalLocationDescription">
	<f:translate key="tx_file_domain_model_file.file_original_location_description" />
</label><br />
	<f:form.textbox property="fileOriginalLocationDescription" /><br />
<label for="fileCreator">
	<f:translate key="tx_file_domain_model_file.file_creator" />
</label><br />
	<f:form.textbox property="fileCreator" /><br />
<label for="fileMimeType">
	<f:translate key="tx_file_domain_model_file.file_mime_type" />
</label><br />
	<f:form.textbox property="fileMimeType" /><br />
<label for="fileMimeSubType">
	<f:translate key="tx_file_domain_model_file.file_mime_sub_type" />
</label><br />
	<f:form.textbox property="fileMimeSubType" /><br />
<label for="fileCtime">
	<f:translate key="tx_file_domain_model_file.file_ctime" />
</label><br />
	<f:form.textbox property="fileCtime"  value="{file.fileCtime->f:format.date()}" /><br />
<label for="fileMtime">
	<f:translate key="tx_file_domain_model_file.file_mtime" />
</label><br />
	<f:form.textbox property="fileMtime"  value="{file.fileMtime->f:format.date()}" /><br />
<label for="fileUsage">
	<f:translate key="tx_file_domain_model_file.file_usage" />
</label><br />
	<f:form.textbox property="fileUsage" /><br />
<label for="ident">
	<f:translate key="tx_file_domain_model_file.ident" />
</label><br />
	<f:form.textbox property="ident" /><br />
<label for="creator">
	<f:translate key="tx_file_domain_model_file.creator" />
</label><br />
	<f:form.textbox property="creator" /><br />
<label for="publisher">
	<f:translate key="tx_file_domain_model_file.publisher" />
</label><br />
	<f:form.textbox property="publisher" /><br />
<label for="copyright">
	<f:translate key="tx_file_domain_model_file.copyright" />
</label><br />
	<f:form.textbox property="copyright" /><br />
<label for="keywords">
	<f:translate key="tx_file_domain_model_file.keywords" />
</label><br />
	<f:form.textbox property="keywords" /><br />
<label for="description">
	<f:translate key="tx_file_domain_model_file.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="caption">
	<f:translate key="tx_file_domain_model_file.caption" />
</label><br />
	<f:form.textarea property="caption" cols="40" rows="15" /><br />
<label for="altText">
	<f:translate key="tx_file_domain_model_file.alt_text" />
</label><br />
	<f:form.textbox property="altText" /><br />
<label for="instructions">
	<f:translate key="tx_file_domain_model_file.instructions" />
</label><br />
	<f:form.textarea property="instructions" cols="40" rows="15" /><br />
<label for="abstract">
	<f:translate key="tx_file_domain_model_file.abstract" />
</label><br />
	<f:form.textarea property="abstract" cols="40" rows="15" /><br />
<label for="dateCr">
	<f:translate key="tx_file_domain_model_file.date_cr" />
</label><br />
	<f:form.textbox property="dateCr"  value="{file.dateCr->f:format.date()}" /><br />
<label for="dateMod">
	<f:translate key="tx_file_domain_model_file.date_mod" />
</label><br />
	<f:form.textbox property="dateMod"  value="{file.dateMod->f:format.date()}" /><br />
<label for="locDesc">
	<f:translate key="tx_file_domain_model_file.loc_desc" />
</label><br />
	<f:form.textbox property="locDesc" /><br />
<label for="locCity">
	<f:translate key="tx_file_domain_model_file.loc_city" />
</label><br />
	<f:form.textbox property="locCity" /><br />
<label for="horizontalResolution">
	<f:translate key="tx_file_domain_model_file.horizontal_resolution" />
</label><br />
	<f:form.textbox property="horizontalResolution" /><br />
<label for="verticalResolution">
	<f:translate key="tx_file_domain_model_file.vertical_resolution" />
</label><br />
	<f:form.textbox property="verticalResolution" /><br />
<label for="horizontalPixels">
	<f:translate key="tx_file_domain_model_file.horizontal_pixels" />
</label><br />
	<f:form.textbox property="horizontalPixels" /><br />
<label for="verticalPixels">
	<f:translate key="tx_file_domain_model_file.vertical_pixels" />
</label><br />
	<f:form.textbox property="verticalPixels" /><br />
<label for="colorSpace">
	<f:translate key="tx_file_domain_model_file.color_space" />
</label><br />
	<f:form.textbox property="colorSpace" /><br />
<label for="width">
	<f:translate key="tx_file_domain_model_file.width" />
</label><br />
	<f:form.textbox property="width" /><br />
<label for="height">
	<f:translate key="tx_file_domain_model_file.height" />
</label><br />
	<f:form.textbox property="height" /><br />
<label for="heightUnit">
	<f:translate key="tx_file_domain_model_file.height_unit" />
</label><br />
	<f:form.textbox property="heightUnit" /><br />
<label for="meta">
	<f:translate key="tx_file_domain_model_file.meta" />
</label><br />
	<f:form.textarea property="meta" cols="40" rows="15" /><br />