<table class="tx-file" >
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.title" />
		</td>
		<td>
			{file.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_name" />
		</td>
		<td>
			{file.fileName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_path" />
		</td>
		<td>
			{file.filePath}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_download_name" />
		</td>
		<td>
			{file.fileDownloadName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_type" />
		</td>
		<td>
			{file.fileType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_type_version" />
		</td>
		<td>
			{file.fileTypeVersion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_size" />
		</td>
		<td>
			{file.fileSize}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_original_location" />
		</td>
		<td>
			{file.fileOriginalLocation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_original_location_description" />
		</td>
		<td>
			{file.fileOriginalLocationDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_creator" />
		</td>
		<td>
			{file.fileCreator}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_mime_type" />
		</td>
		<td>
			{file.fileMimeType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_mime_sub_type" />
		</td>
		<td>
			{file.fileMimeSubType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_ctime" />
		</td>
		<td>
			{file.fileCtime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_mtime" />
		</td>
		<td>
			{file.fileMtime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.file_usage" />
		</td>
		<td>
			{file.fileUsage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.ident" />
		</td>
		<td>
			{file.ident}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.creator" />
		</td>
		<td>
			{file.creator}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.publisher" />
		</td>
		<td>
			{file.publisher}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.copyright" />
		</td>
		<td>
			{file.copyright}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.keywords" />
		</td>
		<td>
			{file.keywords}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.description" />
		</td>
		<td>
			{file.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.caption" />
		</td>
		<td>
			{file.caption}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.alt_text" />
		</td>
		<td>
			{file.altText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.instructions" />
		</td>
		<td>
			{file.instructions}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.abstract" />
		</td>
		<td>
			{file.abstract}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.date_cr" />
		</td>
		<td>
			{file.dateCr -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.date_mod" />
		</td>
		<td>
			{file.dateMod -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.loc_desc" />
		</td>
		<td>
			{file.locDesc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.loc_city" />
		</td>
		<td>
			{file.locCity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.horizontal_resolution" />
		</td>
		<td>
			{file.horizontalResolution}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.vertical_resolution" />
		</td>
		<td>
			{file.verticalResolution}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.horizontal_pixels" />
		</td>
		<td>
			{file.horizontalPixels}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.vertical_pixels" />
		</td>
		<td>
			{file.verticalPixels}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.color_space" />
		</td>
		<td>
			{file.colorSpace}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.width" />
		</td>
		<td>
			{file.width}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.height" />
		</td>
		<td>
			{file.height}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.height_unit" />
		</td>
		<td>
			{file.heightUnit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_file.meta" />
		</td>
		<td>
			{file.meta}
		</td>
	</tr>
</table>