<label for="title">
	<f:translate key="tx_file_domain_model_selection.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="title" /><br />
<label for="definition">
	<f:translate key="tx_file_domain_model_selection.definition" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="definition" cols="40" rows="15" /><br />
<label for="type">
	<f:translate key="tx_file_domain_model_selection.type" />
</label><br />
	<f:form.textbox property="type" /><br />