<label for="title">
	<f:translate key="tx_file_domain_model_category.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="title" /><br />
<label for="subTitle">
	<f:translate key="tx_file_domain_model_category.sub_title" />
</label><br />
	<f:form.textbox property="subTitle" /><br />
<label for="navTitle">
	<f:translate key="tx_file_domain_model_category.nav_title" />
</label><br />
	<f:form.textbox property="navTitle" /><br />
<label for="keywords">
	<f:translate key="tx_file_domain_model_category.keywords" />
</label><br />
	<f:form.textarea property="keywords" cols="40" rows="15" /><br />
<label for="description">
	<f:translate key="tx_file_domain_model_category.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />