<table class="tx-file" >
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_category.title" />
		</td>
		<td>
			{category.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_category.sub_title" />
		</td>
		<td>
			{category.subTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_category.nav_title" />
		</td>
		<td>
			{category.navTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_category.keywords" />
		</td>
		<td>
			{category.keywords}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_file_domain_model_category.description" />
		</td>
		<td>
			{category.description}
		</td>
	</tr>
</table>