.thumb {
	margin-bottom: 10px;
	height: 170px;
	width: 237px;
	text-align: center;
}
.thumb a {
	margin-bottom: 20px;
	text-decoration: none;
}

.f3-widget-paginator {
	list-style-type: none;
}
.f3-widget-paginator li {
	float: left;
	margin-right: 20px;
}